name: Draft Github Release
on:
    # Enable manual run
    workflow_dispatch:
        inputs:
            version:
                description: "Tag to create (e.g. v2.10.0). Must include 'v' and must match pubspec"
                required: true
                default: "v2.10.0"
                type: string

# Declare default permissions as read only.
permissions: read-all

jobs:
    draft-release:
        name: Draft Github release
        runs-on: ubuntu-20.04
        outputs:
            upload_url: ${{ steps.create_release.outputs.upload_url }}
        steps:
            - name: Draft release with release notes
              id: create_release
              uses: softprops/action-gh-release@de2c0eb89ae2a093876385947365aca7b0e5f844
              env:
                  GITHUB_TOKEN: ${{ secrets.FLUTTERGALLERYRELEASEBOT_TOKEN }}
              with:
                  tag_name: ${{ github.event.inputs.version }}
                  draft: true
                  prerelease: false
                  generate_release_notes: true

    create-build:
        name: Create ${{ matrix.target }} build
        runs-on: ${{ matrix.os }}
        strategy:
            matrix:
                target: [macOS, Windows, Linux, Android]
                include:
                    - os: macos-10.15 # Catalina
                      target: macOS
                      build_target: macos
                      build_path: build/macos/Build/Products/Release
                      asset_extension: .zip
                      asset_content_type: application/zip
                    - os: windows-2019
                      target: Windows
                      build_target: windows
                      build_path: build\windows\runner\Release
                      asset_extension: .zip
                      asset_content_type: application/zip
                    - os: ubuntu-20.04
                      target: Linux
                      build_target: linux
                      build_path: build/linux/x64/release/bundle
                      asset_extension: .tar.gz
                      asset_content_type: application/gzip
                    - os: ubuntu-20.04
                      target: Android
                      build_target: apk
                      build_path: build/app/outputs/flutter-apk
                      asset_extension: .apk
                      asset_content_type: application/vnd.android.package-archive
            # Disable fail-fast as we want results from all even if one fails.
            fail-fast: false
        needs: draft-release
        steps:
            - name: Checkout code
              uses: actions/checkout@93ea575cb5d8a053eaa0ac8fa3b40d7e05a33cc8

              # Set up Flutter.
            - name: Get Flutter version
              id: get-flutter-version
              uses: zgosalvez/github-actions-get-flutter-version-env@7fddf5259c22045dea8dc2f098f494bbd3ca2749 # v2.0.16
            - name: Setup Flutter SDK
              uses: subosito/flutter-action@48cafc24713cca54bbe03cdc3a423187d413aafa
              with:
                  cache: true
                  flutter-version: ${{ steps.get-flutter-version.outputs.version }}
                  channel: stable

            - name: Install Linux dependencies
              if: matrix.target == 'Linux'
              run: |
                  sudo apt-get update
                  sudo apt-get install -y libgtk-3-dev libx11-dev pkg-config cmake ninja-build libblkid-dev
            - name: Install Android dependencies
              if: matrix.target == 'Android'
              uses: actions/setup-java@5ffc13f4174014e2d4d4572b3d74c3fa61aeb2c2 # v3.11.0
              with:
                  distribution: "zulu"
                  java-version: "12.x"
            - name: Enable desktop support
              if: matrix.target != 'Android'
              run: |
                  flutter config --enable-linux-desktop
                  flutter config --enable-macos-desktop
                  flutter config --enable-windows-desktop
            - run: flutter doctor -v
            - run: flutter create .
            - run: flutter pub get

            - name: Configure Keystore for Android
              if: matrix.target == 'Android'
              run: |
                  echo "$PLAY_STORE_UPLOAD_KEY" | base64 --decode > app/upload-keystore.jks
                  echo "storeFile=upload-keystore.jks" >> key.properties
                  echo "keyAlias=$KEYSTORE_KEY_ALIAS" >> key.properties
                  echo "storePassword=$KEYSTORE_STORE_PASSWORD" >> key.properties
                  echo "keyPassword=$KEYSTORE_KEY_PASSWORD" >> key.properties
              env:
                  PLAY_STORE_UPLOAD_KEY: ${{ secrets.PLAY_STORE_UPLOAD_KEY }}
                  KEYSTORE_KEY_ALIAS: ${{ secrets.KEYSTORE_KEY_ALIAS }}
                  KEYSTORE_KEY_PASSWORD: ${{ secrets.KEYSTORE_KEY_PASSWORD }}
                  KEYSTORE_STORE_PASSWORD: ${{ secrets.KEYSTORE_STORE_PASSWORD }}
              working-directory: android

            # Build the application.
            - run: flutter build -v ${{ matrix.build_target }} --release

            # Package the build.
            - name: Copy VC redistributables to release directory for Windows
              if: matrix.target == 'Windows'
              run: |
                  Copy-Item (vswhere -latest -find 'VC\Redist\MSVC\*\x64\*\msvcp140.dll') .
                  Copy-Item (vswhere -latest -find 'VC\Redist\MSVC\*\x64\*\vcruntime140.dll') .
                  Copy-Item (vswhere -latest -find 'VC\Redist\MSVC\*\x64\*\vcruntime140_1.dll') .
              working-directory: ${{ matrix.build_path }}
            - name: Rename build for Android
              if: matrix.target == 'Android'
              run: mv app-release.apk $GITHUB_WORKSPACE/flutter_gallery_${{ matrix.target }}.apk
              working-directory: ${{ matrix.build_path }}
            - name: Compress build for Linux
              if: matrix.target == 'Linux'
              run: tar czf $GITHUB_WORKSPACE/flutter_gallery_${{ matrix.target }}.tar.gz *
              working-directory: ${{ matrix.build_path }}
            - name: Compress build for macOS
              if: matrix.target == 'macOS'
              run: ditto -c -k --sequesterRsrc --keepParent Flutter\ Gallery.app $GITHUB_WORKSPACE/flutter_gallery_${{ matrix.target }}.zip
              working-directory: ${{ matrix.build_path }}
            - name: Compress build for Windows
              if: matrix.target == 'Windows'
              run: compress-archive -Path * -DestinationPath ${env:GITHUB_WORKSPACE}\flutter_gallery_${{ matrix.target }}.zip
              working-directory: ${{ matrix.build_path }}

            # Upload the build.
            - name: Add packaged build to release draft
              id: upload_release_asset
              uses: actions/upload-release-asset@e8f9f06c4b078e705bd2ea027f0926603fc9b4d5
              env:
                  GITHUB_TOKEN: ${{ secrets.FLUTTERGALLERYRELEASEBOT_TOKEN }}
              with:
                  upload_url: ${{ needs.draft-release.outputs.upload_url }}
                  asset_path: ./flutter_gallery_${{ matrix.target }}${{ matrix.asset_extension }}
                  asset_name: flutter_gallery_${{ matrix.target }}${{ matrix.asset_extension }}
                  asset_content_type: ${{ matrix.asset_content_type }}
                  overwrite: true
