name: Deploy to web
on:
    # Enable manual run
    workflow_dispatch:
        inputs:
            environment:
                description: "Environment to deploy web build"
                required: true
                default: "staging"
                type: choice
                options:
                    - staging
                    - prod

# Declare default permissions as read only.
permissions: read-all

jobs:
    build-and-deploy:
        runs-on: ubuntu-18.04
        steps:
            - name: Checkout code
              uses: actions/checkout@93ea575cb5d8a053eaa0ac8fa3b40d7e05a33cc8

              # Set up Flutter.
            - name: Get Flutter version
              id: get-flutter-version
              uses: zgosalvez/github-actions-get-flutter-version-env@7fddf5259c22045dea8dc2f098f494bbd3ca2749 # v2.0.16
            - name: Setup Flutter SDK
              uses: subosito/flutter-action@48cafc24713cca54bbe03cdc3a423187d413aafa
              with:
                  cache: true
                  flutter-version: ${{ steps.get-flutter-version.outputs.version }}
                  channel: stable
            - run: flutter doctor -v

            - name: Install web dependencies
              uses: actions/setup-node@8c91899e586c5b171469028077307d293428b516
              with:
                  node-version: "14"
            - run: npm install -g firebase-tools@11.0.1

            - run: flutter pub get

            # Build and deploy (by default, to staging).
            - run: flutter build -v web --release
            - run: firebase deploy --only hosting:${{ github.event.inputs.environment || 'staging' }}
              env:
                  FIREBASE_TOKEN: ${{ secrets.FIREBASE_TOKEN }}
